---
// import "@/styles/globals.css";
import "../styles/global.css";
import { config } from "../config";
const { seo: seoInfo} = Astro.props;
import { SEO } from "astro-seo";
import Umami from '../components/Umami.astro';
---

<html lang="en" class="bg-background text-foreground">
  <head>
    <Umami />
    <SEO {...seoInfo} />
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{config.siteTitle}</title>
  </head>
  <body class="">
    <slot />

    <footer class="py-24 text-center">
      <p>&copy; {new Date().getFullYear()} {config.brand}</p>
    </footer>
  </body>
</html>
