---
// import "@/styles/globals.css";
import '../styles/global.css';
import { config } from "../config";
---

<html lang="en" class="bg-background text-foreground">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{config.siteTitle}</title>
  </head>
  <body class="">
    <slot />

    <footer class="py-24  text-center">
      <p>&copy; {new Date().getFullYear()} {config.brand}</p>
    </footer>
  </body>
</html>
